*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	background: #2E2E2E;
	text-align: center;
	color: #FBF2EF;
	height: 100px;
}

section {
	display: flex;
	width: 100%;
	flex-wrap: wrap;

}

article { 

	width: 25%;
	height: 400px;
	background: #086A87; 
	display: inline-block;
	border: solid;
	border-color: #FFFFFF;	
}

footer {
	background: #2E2E2E;
	height: 150px;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	
}

.caja {
	background: #FF4000;
	color: #FBF2EF;
	width: 23%;
	height: 120px;
	margin: 1%;
	display: inline-block;
	
	
}

@media screen and (min-width: 600px) and (max-width: 1024px){

 article { 
	
	width:50%;
	height:250px;

	 } 

 footer { 
	
	width:100%;
	height:250px;

	 } 

 .caja {
		
	width: 40%;
	height: 100px;


}
}

@media screen and (max-width: 599px) {
	article { 
	
	width:100%;
	display: block;
	}

	footer { 
	
	width:100%;
	height:600px;
	
	}
	.caja {
		
	width: 100%;
	height: 120px;
	display: block;	
}

}













